@font-face { font-family: pixel; src: url("Gameplay.ttf"); }

#body{
    background-color: rgb(0, 82, 146);
}

#title{
    font-family: pixel;
    font-size: 60px;
    color: white;
    position: fixed;
    top: 200px;
    left: 700px;
}
#cred{
    font-family: pixel;
    font-size: 20px;
    color: white;
    position: fixed;
    top: 330px;
    left: 810px;
}

#titleback{
    background-color: rgb(0, 47, 97);
    width: 900px;
    height: 200px;
    border-radius: 15px;
   position: fixed;
   left: 500px;
   top: 200px;

}

#start{
    background-color: rgb(0, 47, 97);
    font-size: 60px;
    font-family: pixel;
    color: white;
    height: 200px;
    width: 400px;
    position: fixed;
    top: 450px;
    left: 740px;
    border-radius: 15px;
    border: 2px solid rgb(0, 47, 97);
    transition-duration: 0.4s;
}

#start:hover{
    border: 2px solid rgb(1, 29, 59);
    background-color: rgb(1, 29, 59);
    height: 205px;
}

#credits{
    background-color: rgb(0, 47, 97);
    font-size: 40px;
    font-family: pixel;
    color: white;
    height: 160px;
    width: 300px;
    position: fixed;
    top: 675px;
    left: 785px;
    border-radius: 15px;
    border: 2px solid rgb(0, 47, 97);
    transition-duration: 0.4s;
}

#credits:hover{
    border: 2px solid rgb(1, 29, 59);
    background-color: rgb(1, 29, 59);
    height: 165px;
}

#howtotitle{
    font-family: pixel;
    font-size: 60px;
    color: white;
    position: fixed;
    top: 100px;
    left: 550px;
}

#howto1{
    font-family: pixel;
    font-size: 40px;
    color: white;
    position: fixed;
    top: 300px;
    left: 550px;
}

#howto2{
    font-family: pixel;
    font-size: 40px;
    color: white;
    position: fixed;
    top: 500px;
    left: 550px;
}

#letsgo{
    background-color: rgb(0, 47, 97);
    font-size: 40px;
    font-family: pixel;
    color: white;
    height: 100px;
    width: 500px;
    position: fixed;
    top: 800px;
    left: 550px;
    border-radius: 15px;
    border: 2px solid rgb(0, 47, 97);
    transition-duration: 0.4s;
}

#letsgo:hover{
    border: 2px solid rgb(1, 29, 59);
    background-color: rgb(1, 29, 59);
    height: 800px;
}

#cat{
    position: fixed;

    left: 50px;
    top: 300px;
}

#b1{
    position: fixed;
    top: 50px;
    left: 50px;
}

#b2{
    position: fixed;
    top: 50px;
    right: 50px;
}


#one{
    position: fixed;
    top: 25px;
    left: 25px;
    width: 850px;
    height: 450px;
    background-color: rgb(0, 47, 97);
    display: none;

}