@font-face { font-family: pixel; src: url("Gameplay.ttf"); }

#body{
    background-color: rgb(0, 82, 146);
}

#title{
    font-family: pixel;
    font-size: 60px;
    color: white;
    position: fixed;
    top: 200px;
    left: 700px;
}
#cred{
    font-family: pixel;
    font-size: 20px;
    color: white;
    position: fixed;
    top: 330px;
    left: 810px;
}

#titleback{
    background-color: rgb(0, 47, 97);
    width: 900px;
    height: 200px;
    border-radius: 15px;
   position: fixed;
   left: 500px;
   top: 200px;

}

#start{
    background-color: rgb(0, 47, 97);
    font-size: 60px;
    font-family: pixel;
    color: white;
    height: 200px;
    width: 400px;
    position: fixed;
    top: 450px;
    left: 740px;
    border-radius: 15px;
    border: 2px solid rgb(0, 47, 97);
    transition-duration: 0.4s;
}

#start:hover{
    border: 2px solid rgb(1, 29, 59);
    background-color: rgb(1, 29, 59);
    height: 205px;
}

#credits{
    background-color: rgb(0, 47, 97);
    font-size: 40px;
    font-family: pixel;
    color: white;
    height: 160px;
    width: 300px;
    position: fixed;
    top: 675px;
    left: 785px;
    border-radius: 15px;
    border: 2px solid rgb(0, 47, 97);
    transition-duration: 0.4s;
}

#credits:hover{
    border: 2px solid rgb(1, 29, 59);
    background-color: rgb(1, 29, 59);
    height: 165px;
}

#howtotitle{
    font-family: pixel;
    font-size: 60px;
    color: white;
    position: fixed;
    top: 100px;
    left: 550px;
}

#howto1{
    font-family: pixel;
    font-size: 40px;
    color: white;
    position: fixed;
    top: 300px;
    left: 550px;
}

#howto2{
    font-family: pixel;
    font-size: 40px;
    color: white;
    position: fixed;
    top: 500px;
    left: 550px;
}

#letsgo{
    background-color: rgb(0, 47, 97);
    font-size: 40px;
    font-family: pixel;
    color: white;
    height: 100px;
    width: 500px;
    position: fixed;
    top: 800px;
    left: 550px;
    border-radius: 15px;
    border: 2px solid rgb(0, 47, 97);
    transition-duration: 0.4s;
}

#letsgo:hover{
    border: 2px solid rgb(1, 29, 59);
    background-color: rgb(1, 29, 59);
    height: 105px;
}

#cat{
    position: fixed;

    left: 50px;
    top: 300px;
}

#b1{
    position: fixed;
    top: 250px;
    left: 50px;
}

#b2{
    position: fixed;
    top: 250px;
    right: 50px;
}

#b3{
    position: fixed;
    top: 250px;
    left: 50px;
}

#b4{
    position: fixed;
    top: 250px;
    right: 50px;
}

#b5{
    position: fixed;
    top: 250px;
    left: 50px;
}

#b6{
    position: fixed;
    top: 250px;
    right: 50px;
}

#b7{
    position: fixed;
    top: 250px;
    left: 50px;
}

#b8{
    position: fixed;
    top: 250px;
    right: 50px;
}

#b9{
    position: fixed;
    top: 250px;
    left: 50px;
}

#b10{
    position: fixed;
    top: 250px;
    right: 50px;
}

#b11{
    position: fixed;
    top: 250px;
    left: 50px;
}

#b12{
    position: fixed;
    top: 250px;
    right: 50px;
}

#b13{
    position: fixed;
    top: 250px;
    left: 50px;
}

#b14{
    position: fixed;
    top: 250px;
    right: 50px;
}

#one{
    position: fixed;
    top: 225px;
    left: 25px;
    width: 850px;
    height: 550px;
    background-color: rgb(0, 47, 97);
    display: none;

}
#two{
    position: fixed;
    top: 225px;
    right: 25px;
    width: 850px;
    height: 550px;
    background-color: rgb(0, 47, 97);
    display: none;

}

#three{
    position: fixed;
    top: 225px;
    left: 25px;
    width: 850px;
    height: 550px;
    background-color: rgb(0, 47, 97);
    display: none;
}

#four{
    position: fixed;
    top: 225px;
    right: 25px;
    width: 850px;
    height: 550px;
    background-color: rgb(0, 47, 97);
    display: none;
    
}

#five{
    position: fixed;
    top: 225px;
    left: 25px;
    width: 850px;
    height: 550px;
    background-color: rgb(0, 47, 97);
    display: none;
}

#six{
    position: fixed;
    top: 225px;
    right: 25px;
    width: 850px;
    height: 550px;
    background-color: rgb(0, 47, 97);
    display: none;
    
}

#seven{
    position: fixed;
    top: 225px;
    left: 25px;
    width: 850px;
    height: 550px;
    background-color: rgb(0, 47, 97);
    display: none;
}

#eight{
    position: fixed;
    top: 225px;
    right: 25px;
    width: 850px;
    height: 550px;
    background-color: rgb(0, 47, 97);
    display: none;
    
}

#semione{
    position: fixed;
    top: 225px;
    left: 25px;
    width: 850px;
    height: 550px;
    background-color: rgb(0, 47, 97);
    display: none;
}

#semitwo{
    position: fixed;
    top: 225px;
    right: 25px;
    width: 850px;
    height: 550px;
    background-color: rgb(0, 47, 97);
    display: none;
    
}

#semithree{
    position: fixed;
    top: 225px;
    left: 25px;
    width: 850px;
    height: 550px;
    background-color: rgb(0, 47, 97);
    display: none;
}

#semifour{
    position: fixed;
    top: 225px;
    right: 25px;
    width: 850px;
    height: 550px;
    background-color: rgb(0, 47, 97);
    display: none;
    
}

#semifive{
    position: fixed;
    top: 225px;
    left: 25px;
    width: 850px;
    height: 550px;
    background-color: rgb(0, 47, 97);
    display: none;
}

#semisix{
    position: fixed;
    top: 225px;
    right: 25px;
    width: 850px;
    height: 550px;
    background-color: rgb(0, 47, 97);
    display: none;
    
}

#text1{
    font-family: pixel;
    font-size: 25px;
    color: white;
    position: fixed;
    top: 650px;
    left: 50px;
}

#text2{
    font-family: pixel;
    font-size: 25px;
    color: white;
    position: fixed;
    top: 650px;
    left: 1025px;
    margin-right: 50px;
}

#text3{
    font-family: pixel;
    font-size: 25px;
    color: white;
    position: fixed;
    top: 650px;
    left: 50px;
    display: none;
}

#text4{
    font-family: pixel;
    font-size: 25px;
    color: white;
    position: fixed;
    top: 650px;
    left: 1025px;
    margin-right: 50px;
    display: none;
}

#text5{
    font-family: pixel;
    font-size: 25px;
    color: white;
    position: fixed;
    top: 650px;
    left: 50px;
    display: none;
}

#text6{
    font-family: pixel;
    font-size: 25px;
    color: white;
    position: fixed;
    top: 650px;
    left: 1025px;
    margin-right: 50px;
    display: none;
}



#text7{
    font-family: pixel;
    font-size: 25px;
    color: white;
    position: fixed;
    top: 650px;
    left: 50px;
    display: none;
}

#text8{
    font-family: pixel;
    font-size: 25px;
    color: white;
    position: fixed;
    top: 650px;
    left: 1025px;
    margin-right: 50px;
    display: none;
}

#text9{
    font-family: pixel;
    font-size: 25px;
    color: white;
    position: fixed;
    top: 650px;
    left: 50px;
    display: none;
}

#text10{
    font-family: pixel;
    font-size: 25px;
    color: white;
    position: fixed;
    top: 650px;
    left: 1025px;
    margin-right: 50px;
    display: none;
}

#text11{
    font-family: pixel;
    font-size: 25px;
    color: white;
    position: fixed;
    top: 650px;
    left: 50px;
    display: none;
}

#text12{
    font-family: pixel;
    font-size: 25px;
    color: white;
    position: fixed;
    top: 650px;
    left: 1025px;
    margin-right: 50px;
    display: none;
}

#text13{
    font-family: pixel;
    font-size: 25px;
    color: white;
    position: fixed;
    top: 650px;
    left: 50px;
    display: none;
}

#text14{
    font-family: pixel;
    font-size: 25px;
    color: white;
    position: fixed;
    top: 650px;
    left: 1025px;
    margin-right: 50px;
    display: none;
}

#choice1{
    background-color: rgb(0, 47, 97);
    font-size: 20px;
    font-family: pixel;
    color: white;
    height: 50px;
    width: 800px;
    position: fixed;
    top: 800px;
    left: 50px;
    border-radius: 15px;
    border: 2px solid rgb(0, 47, 97);
    transition-duration: 0.4s;  
}

#choice1:hover{
    border: 2px solid rgb(1, 29, 59);
    background-color: rgb(1, 29, 59);
    height: 55px;
}

#choice2{
    background-color: rgb(0, 47, 97);
    font-size: 20px;
    font-family: pixel;
    color: white;
    height: 50px;
    width: 800px;
    position: fixed;
    top: 800px;
    right: 50px;
    border-radius: 15px;
    border: 2px solid rgb(0, 47, 97);
    transition-duration: 0.4s;  
}

#choice2:hover{
    border: 2px solid rgb(1, 29, 59);
    background-color: rgb(1, 29, 59);
    height: 55px;
}

#choice3{
    background-color: rgb(0, 47, 97);
    font-size: 20px;
    font-family: pixel;
    color: white;
    height: 50px;
    width: 800px;
    position: fixed;
    top: 800px;
    left: 50px;
    border-radius: 15px;
    border: 2px solid rgb(0, 47, 97);
    transition-duration: 0.4s;  
}

#choice3:hover{
    border: 2px solid rgb(1, 29, 59);
    background-color: rgb(1, 29, 59);
    height: 55px;
}

#choice4{
    background-color: rgb(0, 47, 97);
    font-size: 20px;
    font-family: pixel;
    color: white;
    height: 50px;
    width: 800px;
    position: fixed;
    top: 800px;
    right: 50px;
    border-radius: 15px;
    border: 2px solid rgb(0, 47, 97);
    transition-duration: 0.4s;  
}

#choice4:hover{
    border: 2px solid rgb(1, 29, 59);
    background-color: rgb(1, 29, 59);
    height: 55px;
}

#choice5{
    background-color: rgb(0, 47, 97);
    font-size: 20px;
    font-family: pixel;
    color: white;
    height: 50px;
    width: 800px;
    position: fixed;
    top: 800px;
    left: 50px;
    border-radius: 15px;
    border: 2px solid rgb(0, 47, 97);
    transition-duration: 0.4s;  
}

#choice5:hover{
    border: 2px solid rgb(1, 29, 59);
    background-color: rgb(1, 29, 59);
    height: 55px;
}

#choice6{
    background-color: rgb(0, 47, 97);
    font-size: 20px;
    font-family: pixel;
    color: white;
    height: 50px;
    width: 800px;
    position: fixed;
    top: 800px;
    right: 50px;
    border-radius: 15px;
    border: 2px solid rgb(0, 47, 97);
    transition-duration: 0.4s;  
}

#choice6:hover{
    border: 2px solid rgb(1, 29, 59);
    background-color: rgb(1, 29, 59);
    height: 55px;
}

#choice7{
    background-color: rgb(0, 47, 97);
    font-size: 20px;
    font-family: pixel;
    color: white;
    height: 50px;
    width: 800px;
    position: fixed;
    top: 800px;
    left: 50px;
    border-radius: 15px;
    border: 2px solid rgb(0, 47, 97);
    transition-duration: 0.4s;  
}

#choice7:hover{
    border: 2px solid rgb(1, 29, 59);
    background-color: rgb(1, 29, 59);
    height: 55px;
}

#choice8{
    background-color: rgb(0, 47, 97);
    font-size: 20px;
    font-family: pixel;
    color: white;
    height: 50px;
    width: 800px;
    position: fixed;
    top: 800px;
    right: 50px;
    border-radius: 15px;
    border: 2px solid rgb(0, 47, 97);
    transition-duration: 0.4s;  
}

#choice8:hover{
    border: 2px solid rgb(1, 29, 59);
    background-color: rgb(1, 29, 59);
    height: 55px;
}

#choice9{
    background-color: rgb(0, 47, 97);
    font-size: 20px;
    font-family: pixel;
    color: white;
    height: 50px;
    width: 800px;
    position: fixed;
    top: 800px;
    left: 50px;
    border-radius: 15px;
    border: 2px solid rgb(0, 47, 97);
    transition-duration: 0.4s;  
}

#choice9:hover{
    border: 2px solid rgb(1, 29, 59);
    background-color: rgb(1, 29, 59);
    height: 55px;
}

#choice10{
    background-color: rgb(0, 47, 97);
    font-size: 20px;
    font-family: pixel;
    color: white;
    height: 50px;
    width: 800px;
    position: fixed;
    top: 800px;
    right: 50px;
    border-radius: 15px;
    border: 2px solid rgb(0, 47, 97);
    transition-duration: 0.4s;  
}

#choice10:hover{
    border: 2px solid rgb(1, 29, 59);
    background-color: rgb(1, 29, 59);
    height: 55px;
}

#choice11{
    background-color: rgb(0, 47, 97);
    font-size: 20px;
    font-family: pixel;
    color: white;
    height: 50px;
    width: 800px;
    position: fixed;
    top: 800px;
    left: 50px;
    border-radius: 15px;
    border: 2px solid rgb(0, 47, 97);
    transition-duration: 0.4s;  
}

#choice11:hover{
    border: 2px solid rgb(1, 29, 59);
    background-color: rgb(1, 29, 59);
    height: 55px;
}

#choice12{
    background-color: rgb(0, 47, 97);
    font-size: 20px;
    font-family: pixel;
    color: white;
    height: 50px;
    width: 800px;
    position: fixed;
    top: 800px;
    right: 50px;
    border-radius: 15px;
    border: 2px solid rgb(0, 47, 97);
    transition-duration: 0.4s;  
}

#choice12:hover{
    border: 2px solid rgb(1, 29, 59);
    background-color: rgb(1, 29, 59);
    height: 55px;
}

#choice13{
    background-color: rgb(0, 47, 97);
    font-size: 20px;
    font-family: pixel;
    color: white;
    height: 50px;
    width: 800px;
    position: fixed;
    top: 800px;
    left: 50px;
    border-radius: 15px;
    border: 2px solid rgb(0, 47, 97);
    transition-duration: 0.4s;  
}

#choice13:hover{
    border: 2px solid rgb(1, 29, 59);
    background-color: rgb(1, 29, 59);
    height: 55px;
}

#choice14{
    background-color: rgb(0, 47, 97);
    font-size: 20px;
    font-family: pixel;
    color: white;
    height: 50px;
    width: 800px;
    position: fixed;
    top: 800px;
    right: 50px;
    border-radius: 15px;
    border: 2px solid rgb(0, 47, 97);
    transition-duration: 0.4s;  
}

#choice14:hover{
    border: 2px solid rgb(1, 29, 59);
    background-color: rgb(1, 29, 59);
    height: 55px;
}
#match{
    font-family: pixel;
    font-size: 50px;
    color: white;
    position: fixed;
    top: 50px;
    left: 670px;
    display: none;
}

#return{
    background-color: rgb(0, 47, 97);
    font-size: 20px;
    font-family: pixel;
    color: white;
    height: 50px;
    width: 300px;
    position: fixed;
    top: 875px;
    left: 785px;
    border-radius: 15px;
    border: 2px solid rgb(0, 47, 97);
    transition-duration: 0.4s;
    display: none;
}

#return:hover{
    border: 2px solid rgb(1, 29, 59);
    background-color: rgb(1, 29, 59);
    height: 55px;
}
